---
 const personalImageAlt = "Eslier Contreras Donoso"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Eslier, un estudiante de Desarrollo Aplicación Web (DAW) que busca convertir su lienzo digital en realidad. Aspiro a  
       <strong>realizar mis prácticas en una empresa donde pueda desarrollar y poner en práctica mis habilidades rodeado de profesionales que me inspiren.</strong>.
    </p>

    <p>
      Mi pasión por los 1 y 0 nació hace tres años al finalizar el ciclo de Marketing y Publicidad. Fusionado con mi amor por la tecnología, la música y el cine, <strong> convertir mi devoción por el arte en código.</strong> Así pues, <strong>mi objetivo es crear experiencias online que combinen estética, funcionalidad y simplicidad.</strong> 
    </p>

    <p>
      Soy como un camaleón, <strong> me adapto a cualquier entorno y desafío</strong> con garra. Tengo una <strong> mente abierta e inquieta,</strong> siempre estoy buscando nuevas formas de mejorar y aprender. Jugar solo está bien, pero en equipo ¡Mejor!, <strong>disfruto colaborando</strong> y aportando ideas de mi cosecha. Por último <strong>soy proactivo</strong>, tomo siempre la iniciativa y no me gusta esperar a que las cosas lleguen.
    </p>
  </div>

  <img width="200" height="200" src="./public/EslierPeque.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
